.own-message{
    display: grid;
    grid-template-areas: 
        "text text text"
        "edit delete time";
    grid-template-columns: 80% 12% 8%;

    border-radius: 10px;
    background-color: #d6cabd;
    width: 550px;
    margin-bottom: 10px;
    padding: 10px;
    float: right;
    position: relative;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

button{
    font-weight: 700;
    width: 55px;
    height: 23px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid transparent;
    margin-right: 3px;
    font-size: 12px;
    border-radius: 0.25rem;
}

.message-edit{
    grid-area: edit;
    position: absolute;
    right: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.message-edit:hover{
    border-color: rgb(59, 90, 230);
}

.message-delete{
    grid-area: delete;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.message-delete:hover{
    border-color: rgb(230, 59, 59);
}