.message-list{
    max-width: 1040px;
    margin: 0 auto;
    height: 470px;
    overflow-y: scroll;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: 	#f4f0e2;
    box-shadow: inset 1px 1px 5px rgba(154, 147, 140, 0.5),
                inset -1px -1px 5px rgb(154, 147, 140, 0.5);
}

.message-list::-webkit-scrollbar {
    width: 10px;
}

.message-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.message-list::-webkit-scrollbar-thumb {
    background-color: #b7bab2;
    border-radius: 10px;
}