.message{
    display: grid;
    grid-template-areas: 
        "avatar text text"
        "username like time";
    grid-template-columns: 15% 77% 8%;

    border-radius: 10px;
    background-color: #d6d2bd;
    width: 550px;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.message-user-avatar-block{
    grid-area: avatar;
}

.message-user-avatar{
    width: 55px;
    height: 55px;
    border: 4px solid white;
    border-radius: 50%;
}

.message-user-name{
    grid-area: username;
}

.message-like{
    grid-area: like;
    width: 20px;
    font-size: 15px;
    color: red;
    padding-top: 3px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.message-text{
    grid-area: text;
    text-align: left;
    line-height: 1.6;
    padding: 0px 0px 10px 20px;
}

.message-time{
    grid-area: time;
    color: rgb(65, 65, 65);
    font-size: 14px;
    text-align: right;
    padding-top: 3px;
}