.header{
    padding: 20px 40px;
    background-color: #f4f0e2;
    box-shadow: 0px 4px 2px 0px rgba(50, 50, 50, 0.37);
    line-height: 1.4;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
}

.header-title{
    font-size: 25px;
    font-weight: bold;
}