.message-input{
    max-width: 1040px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
}

.message-input-text{
    width: 85%;
    padding: 20px 20px;
    float: left;
    margin-right: 10px;
    outline: none;
    border: transparent;
    box-shadow: inset 1px 1px 5px rgba(154, 147, 140, 0.5),
                inset -1px -1px 5px rgb(154, 147, 140, 0.5);
}

.message-input-button{
    font-weight: 700;
    width: 10%;
    padding: 12px 24px;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid transparent;
    margin-right: 3px;
    font-size: 15px;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in;
}

.message-input-button:hover{
    border-color: rgb(59, 90, 230);
}